

.img13 {
    display: flex;
    top: -200px;
    justify-content: center;
    /* 水平置中 */
    margin-top: -500px;
    margin-left: 0;
    z-index: 0;
    width: 100%;
}



.about_txt7 {
    margin-left: 430px;
    margin-top: -100px;
    z-index: 1;
}

#about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img14 {
    margin-left: 100px;
}

.about-txt8 {
    margin-left: 1px;
    margin-top: 60px;
}

.about-txtw1 {
    line-height: 1;
    margin-left: 10px;
    font-size: 20px;
}

.about_txtw2 {
    margin-left: 100px;
    margin-top: 80px;
    font-size: 20px;
}

.img15 {
    margin-top: 50px;
}

.img16 {
    margin-top: 100px;
}

.about_txtw3 {
    line-height: 1;
    margin-top: 80px;
    margin-left: 10px;
    font-size: 20px;
}

.about_txtw4 {
    line-height: 1;
    margin-top: 80px;
    margin-left: 40px;
    font-size: 20px;
}