

body {
    background: black;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
}

#logo {
    width: 200px;
    margin-top: -50px;
    z-index: 99;
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
}

#top {
    top: 0;
    display: inline;

}

.list li {
    display: inline-block;
    margin-right: 20px;
    z-index: 100;
    position: relative;

}

.list {
    float: right;
    margin: 0;
    margin-right: 20px;

}

#home {
    height: 200px;
}

#home img {
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
}

.fade-out {
    opacity: 0;
    pointer-events: none;
}


.img-group {
    z-index: 97;
    position: relative;
    display: grid;
}

.img07 {
    margin-top: -200px;
    float: right;
    margin-right: 20px;
    
}
.img07 img{
    max-width: 450px;
    width: auto;
}

.img02 {
    margin-top: -50px;
    float: left;
    margin-right: 20px;
    text-align: right;
}

.img02 img {
    max-width: 450px;
    width: auto;
}

.img03 {
    margin-top: 100px;
    float: right;
    margin-right: 20px;
}

.img03 img {
    max-width: 500px;
    width: auto;
}


.img-group img {
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
}

.img-group img.fade-out {
    opacity: 0;
    pointer-events: none;
}

.img-hide {
    transition: opacity 0.5s ease;
}


.logo2 {
    z-index: 999;
    margin-top: 100px;
    position: absolute;
    top: -450px;
    transform: translateX(-50%);
    z-index: 9999;
    max-width: 550px;
    width: auto;
}


#home2 {
    margin-top: 150px;
}

.txt1 {
    z-index: 80;
    margin-left: 100px;
}

#txt1 {
    margin-top: 10px;
}

.txt1 img {
    max-width: 800px;
    width: auto;
}

.txt3 {
    max-width: 600px;
    width: auto;
}

.txt4 {
    float: left;
    margin-left: 200px;
    margin-top: -120px;
}

.txt4 img {
    max-width: 20px;
    width: auto;
}

.img08 {
    margin-top: -150px;
    margin-right: 200px;
    z-index: 96;
    float: right;
}

.img08 img{
    max-width: 350px;
    width: auto;
}

.img09 {
    margin-top: 200px;
    margin-left: 100px;
    z-index: 96;
}

.img09 img{
    max-width: 250px;
    width: auto;
}

.txtw1 {
    margin-top: -300px;
    margin-left: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.txtw1 p {
    line-height: 0;
    z-index: 95;
}

.img05 {
    text-align: left;
    margin-top: -30px;
    margin-left: 600px;
}

.img05 img{
    max-width: 500px;
    width: auto;
}

.txt2 {
    z-index: 94;
    margin-top: -10px;
    margin-left: 100px;
}

.txt2 img{
    max-width: 700px;
    width: auto;
}

.txt5 {
    z-index: 95;
    margin-top: -100px;
    margin-left: 250px;
}

.txt5 img{
    max-width: 20px;
    width: auto;
}

.img10 {
    z-index: 95;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: 0;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.img10 img{
    max-width: 1200px;
    width: auto;
}

.img11 {
    text-align: center;
    margin-top: 20px;
}

.img11 {
    max-width: 1200px;
    width: auto;
}

.hr {
    margin-top: 25px;
    height: 2px;
    background: linear-gradient(1deg, transparent, white, transparent);
    margin-bottom: 20px;
}

#home5 {
    background-image: url(/img/12.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo1 {
    z-index: 95;
    margin-left: 0;
}

#logo1-1 {
    max-width: 200px;
    width: auto;
}

#logo1-1 {
    margin-top: -60px;
}

.txt6 {
    line-height: 0.8;
    padding-bottom: 40px;
    /* padding設定外框 margin是設定框架內排版 */
}

#txt6 {
    margin-top: -50px;
}

#top-btn {
    /* 框框 */
    border-style: solid;
    /* 圓角弧度 */
    border-radius: 100px;
    width: 50px;
    height: 50px;
    /* 彈性排版 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: #7eb6cd;
    /* 版面絕對位置固定 */
    position: sticky;
    bottom: 50px;
    left: 80%;
    z-index: 1000;
}

#ff {
    font-family: Cinzel;
}

@media(min-width: 540px) {
    .box1 {
        background: lightyellow;
    }
}

@media(min-width: 768px) {
    .box1 {
        background: orange;
    }
}

@media(min-width: 920px) {
    .box1 {
        background: lightpink;
    }
}