body {
    background: black;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
}

#logo {
    /* width: 200px; */
    max-width: 100%;
    margin-top: -50px;
    z-index: 99;
    position: relative;
}

ul {
    list-style-type: none;
    padding: 0;
}

#top {
    top: 0;
    display: inline;
}

.list li {
    display: inline-block;
    margin-right: 20px;
    z-index: 100;
    position: relative;
    cursor: pointer;
    /* 滑鼠變手指 */
    transition: color 0.3s ease;
    /* 平滑變色 */
}


.list li {
    color: white;
    /* ✅ 原始字色，必要 */
    transition: color 0.3s ease;
    cursor: pointer;
}

ul.list li:hover {
    color: #7eb6cd !important;
}

.list {
    float: right;
    margin: 0;
    margin-right: 30px;
}

.hr {
    margin-top: 25px;
    height: 2px;
    background: linear-gradient(1deg, transparent, white, transparent);
    margin-bottom: 20px;
}

#top-btn {
    /* 框框 */
    border-style: solid;
    /* 圓角弧度 */
    border-radius: 100px;
    width: 50px;
    height: 50px;
    /* 彈性排版 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: #7eb6cd;
    /* 版面絕對位置固定 */
    position: sticky;
    bottom: 50px;
    left: 80%;
    z-index: 1000;
}

.hub {
    position: sticky;
    z-index: 9999;
    background-color: #7494A3;
    width: 80%;
    height: 100vh;
    display: none;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* 設定一個div區塊，填色並且加上logo的圖片 */
    border-radius: 10px;
    /* 美化角角 */
    cursor: pointer;
    line-height: 3;
}






@media (max-width:950px) {
    .hub {
        display: flex !important;
    }
}